<!doctype html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Handlebars - Express - MongoDB</title>

    <!-- Bootstrap -->
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Fontawesome -->
    <link href="/fontawesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom -->
    <link href="/main.css" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    {{{body}}}
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/jquery/dist/jquery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>